Source: rocm-tensile
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 dh-python,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libomp-dev,
 libtinfo-dev,
 pkg-config,
 python3,
 python3-filelock,
 python3-pytest,
 python3-yaml,
 rocm-cmake,
 rocm-core,
 rocm-env,
 rocm-hip-on-rocclr-dev,
 rocm-llvm,
 rocm-rocminfo,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/Tensile
Vcs-Browser: https://github.com/revyos-rocm/rocm-tensile
Vcs-Git: https://github.com/revyos-rocm/rocm-tensile.git

Package: python3-rocm-tensile
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libomp-dev,
 libtinfo-dev,
 pkg-config,
 python3,
 python3-yaml,
Description: A tool for creating benchmark-driven backend libraries  - python3
 Tensile is a tool for creating benchmark-driven backend libraries for GEMMs,
 GEMM-like problems (such as batched GEMM), and general N-dimensional tensor
 contractions on a GPU. The Tensile library is mainly used as backend library to
 rocBLAS. Tensile acts as the performance backbone for a wide variety of
 'compute' applications running on AMD GPUs.
