#!/usr/bin/make -f

export DH_VERBOSE = 1

CFLAGS_BUILDING := -O2
export DEB_CFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)
export DEB_CXXFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)

PKG_NAME=rocm-tensile

export PYBUILD_NAME = python3-$(PKG_NAME)

# ROCM_VERSION=$(DEB_VERSION_UPSTREAM) // cannot be used in debuild
ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

MAKEOPTS="-j$$(($$(nproc) / 4))"

# GPU_TARGETS="gfx908:xnack-;gfx90a:xnack-;gfx90a:xnack+;gfx940;gfx941;gfx942;gfx1030;gfx1100"

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_configure:
# Fix ROCM_PATH at first
	sed -i -e "s@opt/rocm@opt/rocm-${ROCM_VERSION}@g" Tensile/Common.py
	sed -i -e "s@opt/rocm@opt/rocm-${ROCM_VERSION}@g" Tensile/Tests/yaml_only/test_config.py
	sed -i -e "s@opt/rocm@opt/rocm-${ROCM_VERSION}@g" Tensile/Tests/extended/convolution_config/YamlBuilder/YamlBuilder.py
	dh_auto_configure

override_dh_auto_test:
	:

#override_dh_install:
#	sed -i "s,@ROCM_VERSION@,${ROCM_VERSION},g" debian/install
#	dh_install --sourcedir=$(DEB_INST_DIR)
#	rm -rf $(DEB_INST_DIR)/usr

